@font-face {
  font-family: "Santohi";
  src: url("./assets/fonts/Satoshi-Variable.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fdfbf5;
}

body {
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Santohi";
  padding: 1rem;
}

main {
  overflow: hidden;
  padding: 1rem;
  border: 1px solid black;
  width: 100%;
}
main .Img-SVG {
  width: 3.4rem;
}
main .Img-SVG img {
  width: 100%;
  height: 100%;
}
main h1,
main h3 {
  font-family: "Syne", sans-serif;
}
main .sub-hed {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
}
main .btn {
  background: #000;
  color: white;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 7px;
  padding: 6px 15px;
  font-size: 0.9rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid black;
}
nav .nav-first {
  display: flex;
  align-items: center;
  gap: 2vw;
}
nav .logo-name {
  font-size: 1.6rem;
  font-weight: 500;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 100;
  position: relative;
}

.hamburger span {
  height: 1px;
  width: 25px;
  background: #000;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.hamburger.toggle span:nth-child(1) {
  transform: rotate(25deg) translate(4px, 5px);
  background-color: #000;
}

.hamburger.toggle span:nth-child(2) {
  opacity: 0;
}

.hamburger.toggle span:nth-child(3) {
  transform: rotate(-25deg) translate(4px, -8px);
  background-color: #000;
}

.view-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}
.view-1 .text-con {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.view-1 .text-con h1 {
  font-size: 3rem;
  letter-spacing: -1px;
  line-height: 1.1;
  font-weight: 600;
}
.view-1 .text-con p {
  font-size: 1.3rem;
}
.view-1 .video-con {
  width: 100%;
}
.view-1 .video-con video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.common-padding {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.view-2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
  border-bottom: 1px solid black;
}
.view-2 h4 {
  text-align: center;
}

.scroller {
  padding-top: 1rem;
  max-width: 100%;
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.scroller .scroller__inner {
  display: flex;
  align-items: center;
  gap: 4rem;
  width: 100%;
  animation: scroll 10s linear infinite;
}
.scroller img {
  height: 100%;
  width: 15%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.scroller:hover .scroller__inner {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}
.view-3 {
  width: 100%;
}
.view-3 .view-3-left {
  display: none;
}
.view-3 .view-3-right .box {
  padding: 2rem 0;
  border-bottom: 1px solid black;
}
.view-3 .view-3-right .box img {
  width: 10vw;
  height: 10vw;
  margin-bottom: 12px;
}
.view-3 .view-3-right .box h3 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.view-3 .view-3-right .box p {
  font-size: 1.1rem;
}

.view-4 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.border {
  height: 1px;
  background: #000;
}

.view-4-left {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}
.view-4-left h1 {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.view-4-left p {
  font-size: 1.3rem;
  margin-top: 0.9rem;
}

.view-4-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-4-right .v4-img-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 32vh;
}
.view-4-right .v4-img-box .box-img-con {
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-4-right .v4-img-box .box-img-con img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease-in-out 0.5s;
}
.view-4-right .v4-img-box .box-img-con img:hover {
  transform: scale(1.09);
}
.view-4-right .v4-img-box .box-img-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view-4-right .v4-img-box .box-img-text h3 {
  font-size: 1.6rem;
  font-weight: 500;
}
.view-4-right .v4-img-box .box-img-text h5 {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 400;
}

.view-4-bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1200px) {
  body {
    padding: 1.5rem;
  }
  nav .nav-first {
    gap: 1vw;
  }
  main {
    padding: 3rem;
    padding-top: 2rem;
  }
  main .common-padding {
    padding: 3rem 0;
  }
  .view-1 {
    flex-direction: row;
    padding: 4rem 0;
    gap: 2rem;
  }
  .view-1 .text-con {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .view-1 .text-con h1 {
    font-size: 5rem;
    letter-spacing: -3px;
    line-height: 1;
  }
  .view-1 .text-con p {
    font-size: 1.5rem;
    width: 82%;
  }
  .view-1 .video-con {
    overflow: hidden;
  }
  .view-1 .video-con video {
    height: 55vh;
    border-radius: 1.5vw;
  }
  .view-2 {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .view-2 h4 {
    padding: 1rem 2rem 1rem 0;
    border-right: 1px solid black;
  }
  .scroller {
    padding: 0;
    width: 85%;
  }
  .scroller img {
    width: 6%;
  }
  .view-3 {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid black;
  }
  .view-3 .view-3-left {
    display: block;
    width: 30%;
    border-right: 1px solid black;
  }
  .view-3 .view-3-right {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .view-3 .view-3-right .top,
  .view-3 .view-3-right .bottom {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }
  .view-3 .view-3-right .border {
    height: 1px;
    background: #000;
  }
  .view-3 .view-3-right .box {
    padding: 0;
    padding-right: 3.5rem;
    border: none;
  }
  .view-3 .view-3-right .box img {
    width: 4vw;
    height: 4vw;
  }
  .view-3 .view-3-right .box:nth-child(odd) {
    border-right: 1px solid black;
  }
  .view-4 {
    flex-direction: row;
    gap: 2rem;
    width: 100% !important;
  }
  .view-4-left {
    width: 35% !important;
    padding-right: 2rem;
    border-right: 1px solid black;
    padding-bottom: 0rem;
    border-bottom: 0;
  }
  .view-4-left h1 {
    font-size: 4rem;
    line-height: 1;
  }
  .view-4-left p {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .view-4-right {
    width: 65% !important;
  }
  .view-4-right .view-4-top {
    height: 50vh;
    width: 100%;
  }
  .view-4-right .view-4-top .v4-img-box {
    height: 100%;
    width: 100%;
  }
  .view-4-bottom {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 3rem;
  }
  .view-4-bottom .v4-img-box {
    width: 46%;
  }
}/*# sourceMappingURL=style.css.map */